

/*====================Responsive===================*/

@media all and (max-width: 1539px) {
	.slide {
		height: 265px;
	}
}

@media all and (max-width: 1365px) {
	.ment-area {
		padding-right: 50px;
		padding-left: 50px;
	}
}

@media all and (max-width: 1199px) {
	.header-area .language {
		display:none !important;
	}
	.header-area .icons a span{
		display:none !important;
	}
	.slide {
		height: 205px;
	}
}

@media all and (max-width: 991px) {
	.navbar-toggler {
		border: none;
		padding: 12px 0;
	}
	.navbar-toggler:focus{
		box-shadow:none;
	}
	.slide-area {
		display:none !important;
	}
	.mob-slide{
		display:flex !important;
		border-top: 2px solid #27228e;
  		border-bottom: 2px solid #27228e;
	}
	.header-area form {
		position: absolute !important;
		left: auto;
		bottom: -46px;
		z-index: 999;
		margin-left: 40px !important;
	}
	.slick-next {
		right: -25px;
	}
	.slick-prev {
		left: -25px;
	}
	.games-area .ment-box img {
		max-height: 200px;
		min-height: 200px;
	}
	.navbar .navbar-nav{
		padding-bottom:1rem;
	}
	.navbar .navbar-nav .barcon{
		display:none;
	}
	.navbar .navbar-nav .rightcon{
		display:block;
	}
}

@media all and (max-width: 767px) {
	.icons-area a {
		padding: 10px 20px;
		border-radius: 15px;
	}
	.icons-area {
		padding: 20px 0;
	}
	.head-title p {
		font-size: 12px;
	}
	.head-title h1 {
		font-size: 22px;
	}
	.slick-dots {
		display:none !important;
	}
	.btn-show {
		margin-top:0px;
		padding: 8px 45px;
		font-size: 14px;
	}
	.copyright-text p {
		margin-top: 15px;
	}
	footer .back-top {
		margin-top: 30px;
	}
	.ment-area {
		padding-bottom: 35px;
	}
	.games-area {
		padding: 30px 35px;
	}
	.slick-dotted.slick-slider {
		margin-bottom: 15px;
	}
	footer .ctext {
		font-size: 15px;
	}
}

@media all and (max-width: 575px) {
	.games-area .ment-box img {
		max-height: 232px;
		min-height: 232px;
	}
	.ment-area {
		padding-right: 32px;
		padding-left: 32px;
	}
	.head-title h1 {
		font-size: 21px;
	}
	.ment-area .ment-box {
		border-radius: 18px;
	}
	.ment-area .ment-box img {
		border-radius: 10px;
	}
	.header-area .logo {
		width: 160px;
	}
	.header-area form {
		left: 10px;
	}
	.header-area .form-control {
		width: 295px;
	}
}
